<p>footer works!</p>

<footer class="footer-area-v1 ">
    <div class="footer-widget-area">
   
      <div class="container">
        <div class="footer-top wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-3 col-md-4 text-center">
                    <div class="footer-logo text-center mb-20">
                        <a href="https://webtend.net/demo/html/datapro/#" class="datapro_logo">
                            <img src="./main-logo-2.png" alt="">
                        </a>
                    </div>
                </div>
                
  
            </div>
        </div>
        <div class="footer-widget pt-85 mb-60">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="widget about-widget mb-45 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <h4 class="widget-title">About Us</h4>
                        <p>Sur TunFilm, on vous guide vers le bon film à voir, vers le film que vous cherchez au fond de vous, sans vraiment le savoir.</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="widget widget-categories mb-45 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <h4 class="widget-title">Links</h4>
                        <ul class="widget-link">
                            <li><a href="https://www.facebook.com/zaouali.olfa/">About Us</a></li>
                            <li><a href="https://www.facebook.com/RANDA.at">Team Member</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="widget recent-post-widget mb-45 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <h4 class="widget-title">Recent Posts</h4>
                        <div class="recent-post">
                            <div class="post-item">
                                <img src="./thumb-1.jpg" alt="">
                                <div class="post-content">
                                    <span class="post-date">Mai 17, 2021</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="widget contact-widget mb-45 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <h4 class="widget-title">Contuct Us</h4>
                        <div class="contact-info">
                            <p><i class="fa fa-map-marker-alt"></i>Ecole Nationale d'Ingénieurs de Sousse (ENISo) </p>
                            <p><i class="fa fa-envelope"></i><a href="mailto:olfazaouali7.@gmail.com">TunFilm.@gmail.com</a></p>
                            <p><i class="fa fa-phone"></i><a href="tel:0123456789101"> +216 55 555 555 </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright-text text-center">
                    <p>Copyright 2021 by yoursite.com</p>
                </div>
            </div>
        </div>
    </div>
  
   </div>
  </footer>  
 