<p>romantique works!</p>
<header style="background-image: url(assets/images/rayana1.jpg);" >
    <app-navbar></app-navbar>
    <br>
    <br>
    <br>
        <h1>“ Le bonheur existe , il est dans l'amour ”</h1>
        <br>
        <br>
        <br>
        <h3>“Quand je t’ai rencontré,
             j’ai entendu ton éclat de rire et je me suis dit qu’une éternité avec toi ne serait pas suffisante
              pour apprécier ce bonheur et après ces années ensemble je le confirme encore plus,
               une éternité ne me suffira pas pour te donner tout mon amour. ”
        </h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    
    </header>
    <br>
    <br>
    <br>
    <br>
    <section>
        <a  data-bs-toggle="offcanvas" href="#offcanvasExample"aria-controls="offcanvasExample">
            <img src="assets/images/13.jpg" class="rounded float-end mx-5 " alt="image" width="250px" height="400px">
          </a>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">me befor you</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div>
                (Lou Clark) travaille dans un magasin, et après un certain temps, il est renvoyé de son travail, et de l'autre côté, il y a un accident de moto d'un jeune homme riche (Will Traynor) qui l'empêche de faire tout ce qu'il faisait dans le passé et le laisse oisif.Puisse la vie de chacun d'eux augmenter la joie et le bonheur de l'inattendu.
              </div>
              <a href="https://www.youtube.com/watch?v=Eh993__rOxA&t=4s">trailer</a>
              
            </div>
          </div>
          <a  data-bs-toggle="offcanvas" href="#offcanvasExample"aria-controls="offcanvasExample">
            <img src="assets/images/14.jpg"  class="rounded float-start mx-5"  alt="image" width="250px" height="400px"></a>
          
            <div class="offcanvas offcanvas-start" tabindex="-1"  aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">The Fault in Our Stars</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    
            </div>
            <div class="offcanvas-body">
              <div>
                Le film raconte l'histoire de Hazel Grace (Shailene Woodley) et Augustus Waters (Insel Elgort), Hazel et Augustus, deux adolescents unis par leur légèreté et leur perspicacité, qui ne se soucient pas de tout ce qui est traditionnel car leur condition est absolument non conventionnelle et même leur amour est un miracle en soi. La folie et la joie de l'amour les accompagnent dans un voyage qui écrase tous les obstacles, car Hazel, sa principale compagne, est un (tube à oxygène). Quant à Auguste, il plaisante et se moque toujours de sa jambe prothétique, et ce qui la rend uniforme plus étrange qu'ils se soient connus au centre de cancérologie.
    
              </div>
              <a href="https://www.youtube.com/watch?v=-Kx7tsnXGoI">trailer</a>
            </div>
            </div>
          
          <a  data-bs-toggle="offcanvas" href="#offcanvasExample"aria-controls="offcanvasExample">
            <img src="assets/images/15.jpg" class="rounded float-end mx-40 " alt="image" width="250px" height="400px">
        </a>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div>
                Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
              </div>
              <a href="https://www.youtube.com/watch?v=GRbxeYVtXVs">trailer</a>
            </div>
          </div>
          <a  data-bs-toggle="offcanvas" href="#offcanvasExample"aria-controls="offcanvasExample">
            <img src="assets/images/16.jpg" class="rounded mx-auto d-block " alt="image" width="250px" height="400px">
        </a>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">La belle et la bête</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div>
                Une belle jeune femme prend la place de son père en tant que prisonnier d'une bête mystérieuse, qui souhaite l'épouser
              </div>
              <a href="https://www.youtube.com/watch?v=U19PzS6c3os">trailer</a>
            </div>
          </div>
    
      
      <br>
      <br>
      <img src="assets/images/17.jpg" class="rounded float-start mx-5" alt="image" width="250px" height="400px">
      <img src="assets/images/18.jpg" class="rounded float-end mx-5" alt="image" width="250px" height="400px">
      <img src="assets/images/18.jpg" class="rounded float-end mx-40 " alt="image" width="250px" height="400px">
      <img src="assets/images/19.jpg" class="rounded mx-auto d-block " alt="image" width="250px" height="400px"> 
      <br>
      <br>
      <img src="assets/images/20.jpg" class="rounded float-start mx-5" alt="image" width="250px" height="400px">
      <img src="assets/images/21.jpg" class="rounded float-end mx-5" alt="image" width="250px" height="400px">
      <img src="assets/images/22.jpg" class="rounded float-end mx-40 " alt="image" width="250px" height="400px">
      <img src="assets/images/23.jpg" class="rounded mx-auto d-block " alt="image" width="250px" height="400px"> 
    </section>
    <br>
    <br>
    <br>
    <nav aria-label="Page navigation example"  >
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" [routerLink]="['/home']">1</a></li>
          <li class="page-item"><a class="page-link" [routerLink]="['']">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

<app-footer></app-footer>