
    <header style="background-image: url(assets/images/hor.jpg);" >
  
    <app-navbar></app-navbar>
    <br>
    <br>
    <br>
        <h1>“ Are you ready ? ”</h1>
        <br>
        <br>
        <br>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</header>
    <br>
    <br>
    <br>
    <br>
    <section>
        
      <a href="https://www.youtube.com/watch?v=Dk3Ee9eHQ1Y" target="_blank"> <img src="assets/images/r8.jpg" class="rounded float-end mx-5 " alt="image" width="250px" height="400px"></a>
        <a href="https://www.youtube.com/watch?v=vntI9lAQyyw" target="_blank"><img src="assets/images/r7.jpg"  class="rounded float-start mx-5"  alt="image" width="250px" height="400px"></a>
        <a href="https://www.youtube.com/watch?v=__lHuEMOubo" target="_blank"> <img src="assets/images/r6.jpg" class="rounded float-end mx-40 " alt="image" width="250px" height="400px"></a>
          <a href="https://www.youtube.com/watch?v=cWimCfW2i5E" target="_blank"><img src="assets/images/r5.jpg" class="rounded mx-auto d-block " alt="image" width="250px" height="400px"></a>
      <br>
      <br>
      <a href="https://www.youtube.com/watch?v=ueanusEMZso" target="_blank"> <img src="assets/images/r4.jpg" class="rounded float-start mx-5" alt="image" width="250px" height="400px"></a>
        <a href="https://www.youtube.com/watch?v=p3a_-qpInyw" target="_blank"><img src="assets/images/r3.jpg" class="rounded float-end mx-5" alt="image" width="250px" height="400px"></a>
          <a href="https://www.youtube.com/watch?v=h6cVyoMH4QE" target="_blank"><img src="assets/images/r2.jpg" class="rounded float-end mx-40 " alt="image" width="250px" height="400px"></a>
            <a href="https://www.youtube.com/watch?v=fBbi4NeebAk" target="_blank"><img src="assets/images/r1.jpg" class="rounded mx-auto d-block " alt="image" width="250px" height="400px"> </a>
      <br>
      <br>
      <a href="https://www.youtube.com/watch?v=0Juc2cL26mg" target="_blank"><img src="assets/images/r9.jpg" class="rounded float-start mx-5" alt="image" width="250px" height="400px"></a>
      <a href="https://www.youtube.com/watch?v=VFsmuRPClr4" target="_blank"><img src="assets/images/r10.jpg" class="rounded float-end mx-5" alt="image" width="250px" height="400px"></a>
      <a href="https://www.youtube.com/watch?v=v0Yo9xasRKg" target="_blank"><img src="assets/images/r11.jpg" class="rounded float-end mx-40 " alt="image" width="250px" height="400px"></a>
      <a href="https://www.youtube.com/watch?v=uukQ_6szDm8" target="_blank"><img src="assets/images/r12.jpg" class="rounded mx-auto d-block " alt="image" width="250px" height="400px"></a> 
    </section>
    <br>
    <br>
    <br>
    
    
    <app-footer></app-footer>
