
<app-navbar></app-navbar>
<header>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/home1.jpg" class="d-block w-100" alt="image" >
        
      </div>
      <div class="carousel-item">
        <img src="assets/images/home2.jpg" class="d-block w-100" alt="image">
      </div>
      <div class="carousel-item">
        <img src="assets/images/home3.jpg" class="d-block w-100" alt="image">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>



  
  <h1>bienvenu dans notre site officiel</h1>

 <section>
  <p>Vous Chercher Toujours le Meilleur site pour voir des films complets en streaming gratuit  dont vous trouvez une sélection variée pour tous les goûts Gratuitement. Vous êtes à présent sur le bon site de film streaming complet.
     TunFilm est site de films en Streaming Tunisiens qui vous garanti un catalogue rempli des films en version Tunisiens, par ailleurs nous vous réservons constamment des nouvelles sorties des films Streaming avec une bonne qualité.
       Peu import si vous chercher des films classsiques ou des nouveaux films 2021 Nous vous offrons toujours des films en streaming complets gratuits .
       </p>
       <br>
       
</section>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<img src="assets/images/1.jpg" class="rounded float-start mx-5" alt="image" width="250px" height="400px">
<img src="assets/images/2.jpg" class="rounded float-end mx-5 " alt="image" width="250px" height="400px">
<img src="assets/images/3.jpg" class="rounded float-end mx-40 " alt="image" width="250px" height="400px">
<img src="assets/images/4.jpg" class="rounded mx-auto d-block " alt="image" width="250px" height="400px"> 
<br>
<br>
<img src="assets/images/5.jpg" class="rounded float-start mx-5" alt="image" width="250px" height="400px">
<img src="assets/images/6.jpg" class="rounded float-end mx-5" alt="image" width="250px" height="400px">
<img src="assets/images/7.jpg" class="rounded float-end mx-40 " alt="image" width="250px" height="400px">
<img src="assets/images/8.jpg" class="rounded mx-auto d-block " alt="image" width="250px" height="400px"> 
<br>
<br>
<img src="assets/images/9.jpg" class="rounded float-start mx-5" alt="image" width="250px" height="400px">
<img src="assets/images/10.jpg" class="rounded float-end mx-5" alt="image" width="250px" height="400px">
<img src="assets/images/11.jpg" class="rounded float-end mx-40 " alt="image" width="250px" height="400px">
<img src="assets/images/12.jpg" class="rounded mx-auto d-block " alt="image" width="250px" height="400px">
<br>
<br>
<br>
<br>
 

<app-footer></app-footer>